body {
  margin: 0;
  padding: 0;
  background-image: url('../backround/steganografi.png');
  background-size: cover; /* Mengatur ukuran gambar agar mengisi seluruh background */
  background-position: center; /* Mengatur posisi gambar di tengah-tengah */
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #676a6d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style untuk input file */
#imageInput {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Style untuk input teks */
#textInput {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Style untuk input sandi */
#passwordInput {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Style untuk tombol */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style untuk output */
#output {
  margin-top: 20px;
}

/* Style untuk tautan unduh */
a {
  display: inline-block;
  padding: 10px 6px;
  background-color: #2385e0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

a:hover {
  background-color: #218838;
}
